.favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: flex-end; /* Align to the right */
  }
  
  .star-icon {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    transition: filter 0.3s ease, transform 0.3s ease;
    fill:#fee9fe; 
    stroke:#f26e95;
  }
  
  .star-icon.active {
    fill:#f26e95;
    stroke:#f26e95;
  }
  