.info-main {
    background-image: url("../assets/bg.png");
    width: 100vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    color: white;
    font-weight: 500;
    margin: 2rem 0;
}

.drink-header {
    font-weight: normal;
    font-size: 2rem;
    margin-top: 1rem;
    height: 2rem;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.ingredient-header,
.instructions-header {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.info-card {
    display: flex;
    width: 50%;
    height: 65vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: azure;
    border-radius: 25px;
}

.info-aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-right {
    justify-content: space-between;
}

.info-left {
    justify-content: space-around;
}

.info-img {
    width: 85%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

li {
    margin: 6px;
}

a {
    color: #000000;
    text-decoration: none;
}

.ingredient {
    color: rgb(255, 102, 0);
}

.ingredient:hover {
    cursor: pointer;
    text-decoration: underline;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goback-btn {
    background-color: #ffc8ff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.goback-btn:hover {
    background-color: #f792f7;
    transform: translateY(-2px);
}

.goback-btn:active {
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-ingr {
    max-height: 8rem;
    overflow-y: scroll;
    outline: 3px dashed #ace4d3;
}

.scroll-instr {
    width: 85%;
    max-height: 5rem;
    overflow-y: scroll;
    padding: 5px;
    outline: 3px dashed #ace4d3;
}

.scroll-instr::-webkit-scrollbar,
.scroll-ingr::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    border-radius: 50%;
}

.scroll-instr::-webkit-scrollbar-thumb,
.scroll-ingr::-webkit-scrollbar-thumb {
    background-color: #ace4d3;
}

.special {
    font-weight: 500;
    font-style: italic;
}
