.home-section {
    width: 100vw;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 50%;
    background-color: azure;
    border-radius: 2px;
    display: flex;
    border-radius: 25px 25px 25px 25px;
}

.random-btn {
    margin: 2rem 0;
    background-color: #ff975e;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.random-btn:hover {
    background-color: #e46c2b;
    transform: translateY(-2px);
}

.random-btn:active {
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.see-more-btn {
    margin-bottom: 6rem;
    background-color: #ffc8ff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.see-more-btn:hover {
    background-color: #f792f7;
    transform: translateY(-2px);
}

.see-more-btn:active {
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-card {
    flex: 1;
    width: 50%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: center;
    border-radius: 25px 0px 0px 25px;
}

.aside-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.star {
    margin-top: 1rem;
    margin-right: 1rem;
    align-self: flex-end;
    width: 30px;
    cursor: pointer;
}

.drink-name {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    width: 90%;
}