.home-section {
    width: 100vw;
    display: grid;
    grid-column: repeat(3, 1fr);
    align-content: center;
    margin-left: 3rem;
}

.oldest {
    margin-left: 3rem;
    align-self: flex-start;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.25) 5px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 20%;
    background-color: rgb(118, 122, 122);
    opacity: 0.5;
    border-radius: 2px;
    display: flex;
    border-radius: 25px 25px 25px 25px;
    margin-top: 1rem;
    /* margin-right: 5 rem; */
}

.card h2 {
    margin: 0.25rem;
    align-self: flex-start;
}

.see-more-btn {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    background-color: #ffc8ff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.see-more-btn:hover {
    background-color: #f792f7;
    transform: translateY(-2px);
}

.see-more-btn:active {
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-card {
    padding-top: 0.5rem;
    flex: 1;
    width: 50%;
    aspect-ratio: 1 / 2;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.aside-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* .star {
    margin-top: 1rem;
    margin-right: 1rem;
    align-self: flex-end;
    width: 30px;
    cursor: pointer;
}

.drink-name {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    width: 90%;
} */