.navbar {
    background-color: #FFF509;
    opacity: 0.6;
    padding: 0.5rem;
    display: flex;
    height: 7vh;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: black;
    font-size: 2rem;
    margin-left: 2rem;
    text-decoration: none;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1.2rem;
}

.navbar-list li {
    margin-left: 3rem;
}

.navbar-link {
    text-decoration: none;
    color: white;
}

.search-input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-right: 2rem;
    margin-left: 0.4rem;
}

.navbar-link.favorite-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:800px) {
    .navbar {
        padding: 0.5rem;
        height: 10%;
        width: 80%;
        flex-direction: column;
    }

    .navbar-brand,
    .navbar-list {
        font-size: 1rem;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }

    .logo {
        display: none;
    }
}